/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f1f1f;
    color: lightgray;
}

#main{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-self: center;
    padding: 16px;
    margin: 0px 20px;
}

#page_left{
    grid-column: 1;
    padding: 16px 0px 0px 16px;
}

#page_center{
    grid-column: 2;
    padding: 16px;
}

#page_right{
    grid-column: 3;
    padding: 16px 0px 16px 0px;
}

.table-border{
    border: 2px rgb(65,65,65) solid;
    border-radius: 1px;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #646464;
}

.table-row.reimb-approved{
    background-color:  #404e40;
}

.table-row.reimb-approved.hover{
    background-color: #426442;
}

.table-row.selected{
    outline: 1px solid white;
    outline-offset: -1px;
}

.table-row.reimb-approved.selected{
    background-color:  #669966;
    outline: 2px solid lime;
    outline-offset: -2px;
}

.table-row.reimb-denied{
    background-color: #533d3d;
}

.table-row.reimb-denied.hover{
    background-color: #644242;
}

.table-row.reimb-denied.selected{
    background-color: #b47373;
    outline: 2px solid red;
    outline-offset: -2px;
}

.table-row.hover{
    background-color: #3d444b;
}

.table-row.selected{
    background-color: #626e7a;
    outline: 2px solid white;
    outline-offset: -2px;
}

.dark-background{
    background-color: #323232;
}

.form-dark-disabled{
    background-color: #2d2d2d;
    border-color: gray;
    color: lightgray;
}

.form-dark-enabled, .form-dark-enabled *{
    background-color: rgb(65,65,65);
    color: lightgray;
    border-color: gray;
}

.center{
    display: flex;
    align-self: center;
    justify-self: center;
}

.text-light-custom{
    color: lightgray;
}

.badge-secondary{
    background-color: rgb(80,80,80);
}

[grid]{
    display: grid;
    grid-template: 3fr / 1fr;
}

[center]{
    /*text-align: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

[centerChildren]{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

[centerChildren] *{
    width: max-content;
    margin: 4px;
}
